In [1]:
import json

# Load JSON objects from file
json_objects = []
with open('/kaggle/input/amazondataset/amazon_gng_food.json', 'r') as file:
    for line in file:
        json_objects.append(json.loads(line))

In [2]:
import pandas as pd

# Convert the list of JSON objects to a DataFrame
df = pd.DataFrame(json_objects)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285145 entries, 0 to 285144
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   category         285145 non-null  object
 1   tech1            285145 non-null  object
 2   description      285145 non-null  object
 3   fit              285145 non-null  object
 4   title            285145 non-null  object
 5   also_buy         285145 non-null  object
 6   tech2            285145 non-null  object
 7   brand            285145 non-null  object
 8   feature          285145 non-null  object
 9   rank             285145 non-null  object
 10  also_view        285145 non-null  object
 11  main_cat         285145 non-null  object
 12  similar_item     285145 non-null  object
 13  date             285145 non-null  object
 14  price            285145 non-null  object
 15  asin             285145 non-null  object
 16  imageURL         285145 non-null  object
 17  imageURLHighRes  285145 non-null  object
 18  details          285121 non-null  object
dtypes: object(19)
memory usage: 41.3+ MB

In [4]:
# Extract only required columns
selected_columns = ["category", "description", "title","asin"]
df = df[selected_columns]

In [5]:
df.head()

,category,description,title,asin
0,"[Grocery & Gourmet Food, Dairy, Cheese & Eggs,...","[BEEMSTER GOUDA CHEESE AGED 18/24 MONTHS, Stat...",Beemster Gouda - Aged 18/24 Months - App. 1.5 Lbs,0681727810
1,"[Grocery & Gourmet Food, Cooking & Baking, Sug...","[Shipped from UK, please allow 10 to 21 busine...",Trim Healthy Mama Xylitol,0853347867
2,"[Grocery & Gourmet Food, Cooking & Baking, Fro...",[Jazz up your cakes with a sparkling monogram ...,Letter C - Swarovski Crystal Monogram Wedding ...,1888861118
3,"[Grocery & Gourmet Food, Cooking & Baking, Fro...","[Large Letter - Height 4.75""]",Letter H - Swarovski Crystal Monogram Wedding ...,1888861517
4,"[Grocery & Gourmet Food, Cooking & Baking, Fro...","[4.75""]",Letter S - Swarovski Crystal Monogram Wedding ...,1888861614

In [6]:
# Randomly select 10000 rows from the dataset
amazon_dataset_10000 = df.sample(n=10000, random_state=42)

In [7]:
amazon_dataset_10000.to_csv('amazon_dataset_10000.csv', index=False)

In [8]:
# Extract unique categories under 'Grocery and Gourmet Foods'
unique_second_items = df['category'].apply(lambda categories_list: categories_list[1] if len(categories_list) >= 2 else None).unique().tolist()

print(unique_second_items)

['Dairy, Cheese & Eggs', 'Cooking & Baking', 'Beverages', 'Canned, Jarred & Packaged Foods', 'Breads & Bakery', 'Frozen', 'Dried Beans, Grains & Rice', 'Produce', 'Food & Beverage Gifts', 'Snack Foods', 'Herbs, Spices & Seasonings', 'Sauces, Gravies & Marinades', 'Candy & Chocolate', 'Breakfast Foods', 'Condiments & Salad Dressings', 'Meat & Seafood', 'Jams, Jellies & Sweet Spreads', 'Soups, Stocks & Broths', 'Pasta & Noodles', 'Olives, Pickles & Relishes', 'Fresh Flowers & Live Indoor Plants', 'Meat Substitutes', 'Deli', 'Prepared Foods', 'Alcoholic Beverages', 'Fresh Meal Kits']

In [9]:
# Filter rows where the second item in the category column is 'Breakfast Foods'
filtered_rows = df[df['category'].apply(lambda categories_list: len(categories_list) >= 2 and categories_list[1] == 'Breakfast Foods')]

In [10]:
# Randomly select 50 rows from the filtered DataFrame
random_selection = filtered_rows.sample(n=50, random_state=42)

In [11]:
# Save the dataset as a CSV file
random_selection.to_csv('amazon_dataset_new.csv', index=False)